section {
  /* max-height: 100%; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  margin: 0 auto;
  max-width: 480px;
  transition: max-height var(--page-animation), opacity var(--page-animation);
  background-color: var(--block-bg-color);
}

/* .cafe-item-shadow {
  height: 0;
  padding: 0;
  margin: 0;
} */

